/* for phone view*/

html {
    background: radial-gradient(brown, white);
}

body, html {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 90px;
    background-color: brown;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive, Arial, Helvetica, sans-serif;
    color:white;

}

h2 {
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 50px 0px 50px 0px;
    width: 50%;
    text-align: center;
    margin-left: 24%;
}

span {
    color: black;
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

li{
    display: inline-block;
    padding: 5px;
    
}

a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.8vw;
}

a:hover {
    color: white;
    transition: 0.5s;
}

.image img{
   width: 450px;
   border-radius: 50px 20px;
   float: inline-start;
   margin: 5%;


}

.content {
    width: 50%;
    margin-left: 25%;
    clear: both;
    margin-top: 7%;
}

.ig img{
    position: absolute;
    left: 45%;
    width: 50px;
}

.fb img {
    position: absolute;
    left: 45%;
    width: 50px;
    top: 130%;
}

footer {
    text-align: center;
}

.AU {
    position: absolute;
    left: 78%;
}

.Reservation {
    position: absolute;
    left: 78%;
    top: 5%;
}

/* For Desktop I BASICLLY COPIED EVERYTHING UPTOP AND AJUSTED NUMBERS FOR DESKTOP VIEW */

@media screen and (min-width: 992px) {
    html {
        background: radial-gradient(brown, white);
    }
    
    body, html {
        margin: 0;
        padding: 0;
    }
    
    header {
        width: 100%;
        height: 90px;
        background-color: brown;
    }
    
    h1 {
        position: absolute;
        padding: 3px;
        float: left;
        margin-left: 2%;
        margin-top: 10px;
        font-family: 'Alfa Slab One', cursive, Arial, Helvetica, sans-serif;
        color:white;
    
    }
    
    h2 {
        background-color: rgba(255, 255, 255, 0.527);
        border-radius: 50px 0px 50px 0px;
        width: 50%;
        text-align: center;
        margin-left: 24%;
    }
    
    span {
        color: black;
    }
    
    ul{
        width: auto;
        float: right;
        margin-top: 8px;
    }
    
    li{
        display: inline-block;
        padding: 5px;
        
    }
    
    a{
        text-align: center;
        color: black;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5vw;
    }
    
    a:hover {
        color: white;
        transition: 0.5s;
    }
    
    .image img{
       width: 650px;

       border-radius: 50px 20px;
       float: inline-start;
       margin: 2%;
    margin-left: 27%;
    
    }
    
    .content {
        width: 50%;
        margin-left: 25%;
        clear: both;
        margin-top: 7%;
    }
    
    .ig img{
        position: absolute;
        left: 40%;
        width: 50px;
    }
    
    .fb img {
        position: absolute;
        left: 40%;
        width: 50px;
        top: 125%;
        margin-bottom: 5%;
        border: 0%;
        margin-bottom: 10%;
    }
    
    footer {
        text-align: center
    }

    .AU {
        position: absolute;
        left: 80%;
        top: 5%;
    }

    .Reservation {
        position: absolute;
        left: 90%;
    }
}